*.tfstate
*.tfstate.backup
*.tfvars
terraform.tfstate.d/
.crash
.terraform/
.terraform.lock.hcl

charts/**/charts/
charts/**/tmp/
*.tgz

kubeconfig
*.kubeconfig
secret.yaml
secrets/
*.crt
*.key

*.dec.yaml

.argocd/
tmp/

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/
