apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cvshowcase-cluster-root
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:bitoatt/cvshowcase-infra.git
    targetRevision: main
    path: cluster-root/applications
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true