replicaCount: 1

image:
  repository: plexinc/pms-docker
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 32400
  targetPort: 32400

ingress:
  enabled: true
  className: nginx
  host: plex.example.com
  tls:
    enabled: true
    secretName: plex-tls

persistence:
  media:
    size: 1500Gi
    hostPath: /srv/plex/data

  config:
    enabled: /srv/plex/config

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
